body{
    background-image:url('1.png');
    background-repeat:repeat;background-position:center
}

.logo{
        float: left;
        width: 150px;
        height: 150px;
        background-color: #333;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333

}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.pic {
    margin: 300px;
}

.pic li {
    width: 290px;
    height: 290px;
    float: left;
    list-style: none;
}

.pic li img {
    width: 250px;
    height: 250px;
    box-shadow: 0 10px 10px #0000001a;
    transition: all ease .5s;

}

.pic li img:hover {
    transform: scale(2.5);
    box-shadow: 0 10px 10px #0000001a;
    border-radius: 50%;
}